<ion-content id ="content" padding>
  <div id="map_canvas">
    <ion-fab-button color="tomato"  id="btnRadius" routerLink="tab2">
    <ion-tabs>
      <ion-tab-bar slot="left">
        <ion-tab-button tab="tab2">
          Back
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
    </ion-fab-button>
  </div>
</ion-content>
<ion-footer id="footer">
  <ion-title>Taquero</ion-title>
  <p>Key words: @tacos, @burritos, @quesadillas</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi quis, quia vero voluptatibus natus, error culpa sunt quos, iusto sit ex veritatis dolores voluptas officiis consequuntur ab facilis quam nesciunt libero ipsum. Totam eos quam suscipit! Aspernatur tenetur voluptas neque earum exercitationem optio, recusandae, repellat nemo corrupti distinctio voluptatem expedita?</p>
  <img href="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQVUxO8oUtAFqhu_y_D_sxhlvfHzxAnGHQp_g&usqp=CAU" alt="Image not loaded.">
</ion-footer>