#content{
    height: 40%;
  }
#map_canvas{
    width: 100%;
    height: 100%;
}
#footer{
    height: 60%;
    width: 100%;
    overflow-y:auto;
    background-color: tomato;
    color: white;
    text-align: center;
}
ion-tab-button{
    color: white;
}
#btnRadius { --ion-color-base: #ff6347 !important; 
}
ion-row{
    height: 100px;
    text-align: center;
}
ion-button{
    width: 100%;
    text-align: center;
}
ion-tabs{
    text-align: center;
}
ion-tab-button{
    text-align: center;
}