<ion-content id ="content" padding>
  <div id="map_canvas">
    <ion-fab-button color="tomato"  id="btnBack" routerLink="tab1">
    <ion-tabs>
      <ion-tab-bar slot="left">
        <ion-tab-button tab="tab1">
          Back
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-fab-button>
  </div>
</ion-content>
<ion-footer id="footer">
  <ion-title>Select a Radius to check for any available Vendors near you.</ion-title>
<!--
    Anchor 
<ion-button href="#">Anchor</ion-button>
-->
<!-- Expand -->
  <ion-row>
    <ion-button>
      <ion-tabs>
        <ion-tab-bar>
          <ion-tab-button tab="mile1">
            1 mile
          </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs>
    </ion-button>
  </ion-row>
  <ion-row>
    <ion-button>
      <ion-tabs>
        <ion-tab-bar>
          <ion-tab-button tab="mile2">
            2 mile
          </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs>
    </ion-button>
  </ion-row>
  <ion-row>
    <ion-button>
      <ion-tabs>
        <ion-tab-bar>
          <ion-tab-button tab="mile2">
            2 mile
          </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs>
    </ion-button>
  </ion-row>
</ion-footer>