#content{
    height: 30%;
  }
#map_canvas{
    width: 100%;
    height: 100%;
}
#footer{
    height: 70%;
    width: 100%;
    background-color: tomato;
    color: white;
    text-align: center;
}
ion-tab-button{
    color: white;
}
#btnBack { --ion-color-base: #ff6347 !important;
}
ion-row{
    height: 100px;
}
ion-button{
    width: 100%;
}