#content{
    height: 80%;
  }
#map_canvas{
    width: 100%;
    height: 100%;
}
#footer{
    height: 20%;
    width: 100%;
    background-color: tomato;
    color: white;
    text-align: center;
}
ion-tab-button{
    color: white;
}
#btnRadius { --ion-color-base: #ff6347 !important; 
}
