<ion-content id ="content" padding>
  <div id="map_canvas">
    <ion-fab-button color="tomato"  id="btnRadius" routerLink="tab2">
    <ion-tabs>
      <ion-tab-bar slot="left">
        <ion-tab-button tab="tab2">
          Vendors
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
    </ion-fab-button>
  </div>
</ion-content>
<ion-footer id="footer">
  <ion-title>Street Vendors Near Me</ion-title>
  <p>(Please select a radius option in order to look for vendors near you.)</p>
  <p id="thx">Thank you for using StreetHub.</p>
</ion-footer>