<ion-content id ="content" padding>
  <div id="map_canvas">
    <ion-fab-button color="tomato"  id="btnRadius" routerLink="tab2">
    <ion-tabs>
      <ion-tab-bar slot="left">
        <ion-tab-button tab="tab2">
          Back
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
    </ion-fab-button>
  </div>
</ion-content>
<ion-footer id="footer">
  <ion-title>Street Vendors Near Me</ion-title>
  <ol>
    <li>
      Vendor 1
    </li>
    <li>
      Vendor 2
    </li>
    <li>
      Vendor 3
    </li>
  </ol>
</ion-footer>